@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
  box-sizing: border-box;
  font-family: calibri;
  color: #333333;
}
html{
  overflow-x: hidden;
  overflow-y: hidden;
}
body{
  background-image: linear-gradient(to bottom right,   #4ddbff,#80e5ff );
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  align-items: center;
  justify-content: center;
  display: flex;
  margin:auto;
  margin-top:25px;
}
.glass{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.glass.main
{
  width: 35%;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.img{
  margin-top: 30px;
  border-radius: 10px;
  border:3px solid rgba(255, 255, 255, 0.3);
}
.name{
  font-size: 30px;
  font-weight: 600;
}
.glass.sub-name{
  width: 50%;
  justify-content: center;
  color:#262626;
  font-size: 22px;
  font-weight: 500;
}
.para{
  text-align: justify;
  padding:1px 30px;
  font-size: 18px;
  font-weight: 500;
  color: #262626;
}
.input{
  background: #00a3cc;
  border:1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
  padding:10px 20px 10px 20px;
  font-size: 15px;
  color: #f2f2f2;
  border-radius: 16px;
  transition: all 0.1s ease;
  font-weight:  600;
  text-decoration: none;
}
.input:hover{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
  padding:10px 20px;
  font-size: 15px;
  text-decoration: none;
  color: #00a3cc;
  transition: all 0.1s ease;
  font-weight:  600;
}
.bubble{
  position: absolute;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.bubble.bubble1{
  width: 180px;
  height: 175px;
  top:-8%;
  left:850px;
}
.bubble1:hover{
  transition: all 0.3s ease;
  width: 200px;
  height: 195px;
}
.bubble.bubble2{
  width: 380px;
  height: 375px;
  top:63%;
  left:185px;
}
.bubble2:hover{
  width: 430px;
  height: 425px;
  transition: all 0.3s ease;
}
.bubble.bubble3{
  position:fixed;
  width: 580px;
  height: 575px;
  top:-30%;
  left:-350px;
}
.bubble3:hover{
  width: 620px;
  height: 615px;
  transition: all 0.3s ease;
}
.bubble.bubble4{
  position:fixed;
  width: 580px;
  height: 575px;
  top:35%;
  left:1060px;
}
.bubble4:hover{
  width: 610px;
  height: 605px;
  left: 1020px;
  transition: all 0.3s ease;
}

@media screen and (max-width:600px) {

  .glass.main
  {
    width: 80%;
  }
  .bubble1, .bubble2, .bubble3, .bubble4{
    display: none;
  }
  html{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .glass.sub-name{
    font-weight: 400;
  }
  .para{
    font-weight: 400;
  }
}

/* @media screen and (max-width:480px) {
  .glass.main
  {
    width: 80%;
  }
  .bubble1, .bubble2, .bubble3, .bubble4{
    display: none;
  }
} */
